.ul-mid-header {
  color: brown;
}

.main-ul li {
  text-decoration: underline;
  color: blue;
}

.main-ul li:hover {
  color: black;
}
.schedule-body > tr:hover {
  background-color: tomato;
  color: white;
}
.schedule {
  border-collapse: collapse;
  border: 1px solid #212121;
}
.schedule th,
.schedule td {
  padding: 10px;
  border: 1px solid #212121;
}
